<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | TICKET MONSTER</title>
</head>
<body>
<h1>Help</h1>
<p>
  In order to be able to add, edit, and delete Events, Venues, Shows and all the other content,
  user should be logged in as administrator. Since this app is just for school purposes,
  and there is no potential harm someone could do to it, we'll give administrator credentials here.
  <br>  <br>
  Username: admin<br>
  Password: adminadmin<br>
  <br>
  <br>

  We also have one basic user, that we use to make ticket allocations (purchases).<br>  <br>
  Username: aomanovic  <br>
  Password: aomanovic  <br>
  <br>
  Since all the actions are intuitive, we think there is no need for additional explaining how to use the app.  <br>
  <br>
  Also, payment processors have a lot of security standards, and in order for actual buying/selling to be legal on the site,
  site those standards need to be fulfilled. Since that is too complicated, and also that is not the assignment of the course,
  we will not implement the actual selling - we will just save the allocation to database.  <br>
</p>
</body>
</html>