<div class="container">
  <%= form_for(@ticket_category, :html => {:class => 'form-signin'}) do |f| %>

      <h2 class="form-signin-heading">Ticket Category</h2>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name', :required => true, :autofocus => true %>

      <%= f.text_area :description, class: 'form-control', placeholder: 'Description' %>


      <button type="submit" class="btn btn-primary ">Submit</button>
      <button type="reset" class="btn btn-primary">Reset</button>

      <%= link_to "Back", ticket_categories_path %>
  <% end %>

</div>
